[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "===2.1.2"
djangorestframework = "==3.8.2"
pymysql = "==0.9.2"
mysql-connector-python = "*"
requests = "*"

[dev-packages]
django = "===2.1.2"
djangorestframework = "===3.8.2"
mysql-connector-python = "===8.0.13"

[requires]
python_version = "3.6"
